[submodule "External/DirectXTK"]
	path = External/DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "External/tinyobjloader"]
	path = External/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "External/FPlusPlus"]
	path = External/FPlusPlus
	url = https://github.com/RyanTorant/FPlusPlus.git
